@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.signup-content form input{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 327px;
}
.signup-content form input:focus{
  border: 1px solid #00bfa6 !important;
}
.fullname-input::placeholder{
  color: #989898;
  font-size: 18px;
  padding: 10px 10px 10px 45px;
}
.input-wrapper{
  position: relative;
}
.fullname-icon{
  position: absolute;
  top: 7px;
  left: 10px;
}

form input:focus{
  border: 2px solid #00bfa6 !important;
}
.home-bread{
  color: #00bfa6;
  text-decoration: underline;
  position: absolute;
  top: 30px;
  left: 85px;
}
.create-trip-form form input{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.create-trip-form form input:focus-visible{
  border: 2px solid #00bfa6 !important;
}
.create-trip-form form input:focus{
  border: 2px solid #00bfa6 !important;
  outline: #00bfa6;
}
.form-icon{
  position: absolute;
  top: 15px;
  right: 45px;
}